.MessagePage{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ListMessage{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 3px grey solid;
    border-radius: 0.5em;
    background-color: white;
}

.BarreRecherche{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
	width: 50%;
}

select{
    height: 3em;
}

.BarreRecherche .Button{
    height: 3em;
}

.SaisieMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.ZoneNewComment{
    display: flex;
    justify-content: center;
    align-content: center;
}

.Message{
    width: 96%;
    border: 1px #C0C0C0 solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    border-radius: 0.5em;
}
.Message>div{
    width: 100%;
    height: 40%;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 0 0;
}

.pseudo{
    font-weight: bold;
    width: 18%;
}

.pseudo:hover{
    text-decoration: underline;
}

.date{
    opacity: 0.5;
}

.Message label{
    padding: 2px 5px 2px 5px;
    width: 100%
}

.MessageText{
    width: 60%;
}

.MessagePage>label{
    font-size: x-large;
    text-align: center;
    width: 100%;
}

.Message{
    position: relative;
}

.removeMessageImage{
    width: 1em;
    height: 1em;
    margin: 5px;
    opacity: 0.4;
    position: absolute;
    top: 2px;
    right: 2px;
}