.Popup{
  display: inline-block;
  border-radius: 1em;
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  background-color: silver;
  z-index: 1;
  text-align: center;
}

.PopupButtonMenu{
  display: flex;
  justify-content: right;
  background: grey;
  margin: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.PopupConfirm{
  background: red;
  color: white;
}

.PopupAnnuler{
  background: silver;

}

.PopupTitle{
  font-size: 1.5em;
}

.PopupText{
  font-size: large;
}

.PopupConfirm, .PopupAnnuler{
  box-shadow: 0 4px #999;
  padding: 0.5em;
  border-radius: 0.3em;
}

.PopupConfirm:active, .PopupAnnuler:active{
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
